body{
    background-color: green;
}
@media(min-width: 768px){
    body{
        background-color: red;
    }
}
@media(min-width: 1020px){
    body{
        background-color: yellow;
    }
}
@media(min-width: 1040px){
    body{
        background-color: brown;
    }
}
